<div class="recognize-section">
  <div class="recognize-section-title h1">RECOGNIZE</div>

  <div class="user-recognition">
    <span class="h4">I would like to recognize the following group:</span>
    <div class="recognize-group">
      <span class="user-chip h4">Dorian Greene <span class="remove-user">x</span></span>
      <span class="user-chip h4">Gus Levy <span class="remove-user">x</span></span>
      <span class="user-chip h4">Jeremy Stevens <span class="remove-user">x</span></span>
      <span class="user-chip h4">Brenda Owen <span class="remove-user">x</span></span>
      <span class="user-chip h4">Michael LaRoche <span class="remove-user">x</span></span>
      <span class="user-chip h4">Jeanette Lincoln <span class="remove-user">x</span></span>
    </div>
    <a href="#" class="add-user-link">Add User</a>
  </div>

  <div class="recognition-details">
    <div class="h3">
      I’d like to recognize <span class="highlight">a group of colleagues</span> for the
      <span class="highlight">Peer-to-Peer Program</span>
    </div>

    <div class="criteria-section h4">
      <div class="criteria-section-choice">
        <label for="criteria">Criteria</label>
        <select id="criteria">
          <option>Technical Excellence</option>
        </select>
      </div>
      <div class="criteria-section-choice">
        <label for="points">Points</label>
        <select id="points">
          <option>50</option>
        </select>
      </div>
    </div>
  </div>

  <div class="personal-message">
    <span class="h2">PERSONAL MESSAGE:</span>
    <span class="message-box h4">
      I would like to thank each of you for your outstanding contributions to helping us attain an
      on-time launch of project Narwhal. I would like to thank each of you for your outstanding
      contributions to helping us attain an on-time launch of project Narwhal. I would like to thank
      each of you for your outstanding contributions to helping us attain an on-time launch of
      project Narwhal.
    </span>
  </div>

  <div class="ecard-preview-section">
    <span class="h2">E-CARD PREVIEW:</span>
    <div class="ecard-preview">
      <div class="ecard-left">
        <img src="assets/men.jpg" alt="E-card Preview Image" class="ecard-image" />
        <div class="ecard-details h6">
            <div class="ecard-details-container">
          <span class="ecard-details-title">Criteria: Technical Excellence</span>
          <span class="ecard-details-content">
            I would like to thank each of you for your outstanding contributions to helping us
            attain an on-time launch of project Narwhal. I would like to thank each of you for your
            outstanding contributions to helping us attain an on-time launch of project Narwhal. I
            would like to thank each of you for your outstanding contributions to helping us attain
            an on-time launch of project Narwhal.</span
          >
          <span class="ecard-details-author">Anna Parker</span>
        </div>
          <span class="ecard-details-date">Award Date: 10/19/2015</span>
        </div>
      </div>
      <div class="ecard-thumbnails">
        <div class="ecard-thumbnails-container">
          <img src="assets/partners1.jpg" alt="thumbnail" />
          <img src="assets/people.jpg" alt="thumbnail" />
          <img src="assets/work.jpg" alt="thumbnail" />
          <img src="assets/partners1.jpg" alt="thumbnail" />
          <img src="assets/people.jpg" alt="thumbnail" />
          <img src="assets/work.jpg" alt="thumbnail" />
        </div>
      </div>
    </div>
  </div>

  <div class="send-copy-container">
    <div class="send-copy h3">
      <label for="send-copy">Send Copy To:</label>
      <input id="send-copy" type="text" />
    </div>

    <div class="buttons">
      <button class="review-awards-btn h3">Review Awards</button>
    </div>
  </div>
</div>
