<header class="header-container">
  <div class="logo-container h1">
    <div class="logo">
      <span class="logo-text-fantasy">REWARD </span>
      <span class="logo-text">YOUR PERFORMANCE</span>
    </div>
    <div class="header-icons">
      <a href="#"><i class="fa fa-envelope"></i></a>
      <a href="#"><i class="fa fa-square-check"></i></a>
      <a href="#"><i class="fa fa-headphones"></i></a>
    </div>
  </div>

  <nav class="navigation h1">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">RECOGNISE</a></li>
      <li><a href="#">NETWORK</a></li>
      <li><a href="#">LEADERSHIP</a></li>
      <li><a href="#">PROGRAMS</a></li>
      <li><a href="#">ACTIVITY</a></li>
    </ul>
  </nav>

  <div class="subtitle h3">
    <span class="recognise-text">Recognise someone now</span>
    <div class="recognise-line"></div>
  </div>
</header>
